@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Jost&display=swap");
* {
  box-sizing: border-box;
}

#modal1 {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
#modal1 .diplom1_modal {
  position: absolute;
  left: 20%;
  top: 15%;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  height: 11vh;
  background-color: rgb(198, 218, 246);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}
.header .siteTitle {
  font-family: "Amatic SC", sans-serif;
  font-weight: 900;
  font-size: 2.5vw;
}
.header .menu_container {
  display: block;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 2em;
}
.header .menu_container a {
  text-decoration: none;
  color: black;
  font-family: "Jost", sans-serif;
  font-size: 1.3vw;
}
.header .menu_container a:hover {
  scale: 1.1;
}
.header .phone_container {
  font-family: "Jost", sans-serif;
  font-size: 1.5vw;
}
@media (max-width: 640px) {
  .header {
    height: 10vh;
  }
  .header .siteTitle {
    text-align: center;
  }
  .header .menu_container {
    display: none;
  }
  .header .menu_container a {
    display: none;
  }
}
@media (max-width: 768px) {
  .header .siteTitle {
    text-align: center;
  }
  .header .menu_container {
    display: none;
  }
  .header .menu_container a {
    display: none;
  }
}

.mainInformation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5% 0;
}
.mainInformation .competencesContainer h2 {
  text-align: center;
  margin: -6% 0 8% 0;
  font-family: "Jost", sans-serif;
  font-weight: 900;
  font-size: 2.5vw;
}
.mainInformation .competencesContainer ul li {
  font-family: "Jost", sans-serif;
  font-size: 1.5vw;
  line-height: 185%;
  margin-left: 25%;
}
.mainInformation .photo_container {
  width: 50%;
  display: flex;
  justify-content: end;
  margin-right: 15%;
}
.mainInformation .photo {
  width: 50%;
  max-width: 50%;
  border-radius: 25px;
}

.statistics {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 7%;
}
.statistics .statisticsContainer {
  width: 90vw;
  height: 20vh;
  border-radius: 25px;
  background-color: rgba(222, 234, 250, 0.7);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.statistics .statisticsContainer .statistics_element {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statistics .statisticsContainer .statistics_element p {
  font-family: "Jost", sans-serif;
  font-size: 1.5vw;
  text-align: center;
}
.statistics .statisticsContainer .statistics_element span {
  font-weight: 900;
}

.philosophy {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin-bottom: 10%;
}
.philosophy .philosophy_container {
  position: relative;
}
.philosophy .philosophy_container .philosophy_img {
  width: 60%;
  margin-left: 10%;
  border-radius: 25px;
}
.philosophy .philosophy_container .philosophy_textContainer {
  background-color: #fff;
  position: absolute;
  width: 50%;
  padding: 1% 3%;
  border-radius: 25px;
  left: 50%;
  top: 25%;
  border: 5px solid rgba(52, 50, 67, 0.318);
}
.philosophy .philosophy_container .philosophy_textContainer p {
  font-family: "Jost", sans-serif;
  font-size: 1.5vw;
  line-height: 185%;
  text-indent: 30px;
}
.philosophy .philosophy_container .philosophy_border {
  position: absolute;
  width: 70%;
  max-width: 70%;
  height: 95%;
  border: 10px solid rgb(198, 218, 246);
  top: 15%;
  left: 20%;
  border-radius: 25px;
  z-index: -1;
}
@media (max-width: 640px) {
  .philosophy .philosophy_border {
    display: none;
  }
  .philosophy .philosophy_img {
    display: none;
  }
  .philosophy .philosophy_textContainer {
    width: 80vw;
    display: flex;
    justify-content: center;
  }
}

.schools {
  margin-top: 20%;
}
.schools h3 {
  text-align: center;
}
.schools .schools_diplomContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.schools .schools_diplomContainer .schools_diplom {
  max-width: 90%;
  cursor: pointer;
  box-shadow: 5px 4px 15px rgba(106, 104, 104, 0.722);
}

#button_modal1 {
  border: none;
  background-color: #fff;
}/*# sourceMappingURL=styles.css.map */